<ul id="myTab" class="nav nav-pills nav-stacked">
    <li class="active"><a href="/my/app/p/<%= list[0].fd_serviceid %>/msglist">消息列表</a></li>
    <li><a href="/my/api/add/<%= list[0].fd_serviceid %>">发布Api</a></li>
</ul>